#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}
#percent-chart {
	float: center;
}

#rape-chart {
	float: right;
}
.dc-chart .deselected circle {
	stroke: none;
	fill: rgba(200,0,0,0.2);
}
