<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title> State Inequality</title>
        <script src="//d3js.org/queue.v1.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://d3js.org/topojson.v1.min.js"></script>
        <link href="./static/css/state_inequality.css" rel="stylesheet">
    </head>
    <body>
        <!--add body headers and paragraphs -->
        <div id="Loading">
            <p> Loading Visuals...</p>
        </div>
        <!-- uncomment when ready to add-->
        <div id="map"></div>
        <div id="year_drop">
            <p> Select the year you want data from...</p>
        </div>
        <div id="metric_drop">
            <p> Select the metric you want to analyze</p>
        </div>
        <!--<div id="graph"></div>-->
        <div id="sources">
            <p> By Aaron Walker </br></br>
                Sources: </br>
                Data provided by Vishal Sign @ NYU<br>
        </div>
        <script type="text/javascript" src="./static/js/state_inequality.js"></script>
    </body>
</html>
